APP_NAME=Noteds
APP_ENV=local
APP_KEY=base64:Hbu/IqypaX226QihaObGqS8l3eIV1+0SCdUmrEUEE/U=
APP_DEBUG=true
APP_URL=https://noteds.test

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=noteds
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=noteds.test

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=c378d94940d32f
MAIL_PASSWORD=ed2d43157ae480
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

SANCTUM_STATEFUL_DOMAINS=noteds.test

MIDTRANS_SERVER_KEY=SB-Mid-server-rhj9Gek_HeACXtCYEEBNiD57
MIDTRANS_CLIENT_KEY=SB-Mid-client-DwrBrvmbb06Ap27p
MIDTRANS_IS_PRODUCTION=false
MIDTRANS_MERCHANT_ID=G445421590

OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=llama3.2

UNSPLASH_ACCESS_KEY=avjWj6vhqnexzroJNtPH_FjyPL7HlPm8gHwhoiT30Kg
UNSPLASH_SECRET_KEY=wedSwRFLpUH4c5T3VtU4a_1rND60dnyg__4HJ3srbo8

# Image Generation (Stability AI)
STABILITY_API_KEY=sk-Kp9wFDmNVZIDJ5wR7XiUsLmV7hv1JwjtazeXLVOlixP7320K

# Video Generation (RunwayML)
RUNWAY_API_KEY=key_5c0886d14a32b2360c14f18694e0ed53e9583acd055530570e854c7a295799289c28fb42692ad2df5f4c2ca9a250190969374f4677a425459e7a17a187684c93